<ion-header>
 
</ion-header> 
  <ion-content>
  <div>
  <ion-card color="success">
  <img src="/assets/picture/homeimge.jpg">
  </ion-card> 
  </div>
  <div>
  <ion-card color="success">
  <ion-card-header>
  <ion-card-title>CHOLERIAPP</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  “Le cholera est fatal s'il n'est pas traite immediatement.” 

      <ion-button expand="block" color="danger" (click)='gopage("register")'>S'ENREGISTRER</ion-button>  
      <ion-button expand="block" color="dark" (click)='gopage("login")'>LOGIN</ion-button>  
  </ion-card-content>
  </ion-card> 
  </div>
  </ion-content> 