<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>INFORMATION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="/assets/images.jpeg"/>
        <h2>Qu'est-ce que le choléra?</h2>
        <p>Le choléra est une infection diarrhéique aiguë causée par Vibrio choleræ, une bactérie produisant des toxines.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="/assets/images1.jpeg"/>
        <h2>Mode de contamination</h2>
        <ion-text color="secondary">
          <h1>Le choléra se transmet par ingestion d’eau ou d’aliments contaminés par les selles d’une personne infectée (transmission fécale-orale).</h1>
        </ion-text>
        
        <ion-text Thecolor="primary">
          <h2>La personne infectée est habituellement contagieuse de 1 à 10 jours ou tant que la bactérie est excrétée dans ses selles (même si elle est asymptomatique).</h2>
        </ion-text>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="/assets/fhfh.png"/>
        <h2>Symptômes</h2>
      <p>
        <b>
          <ion-list>
            <ion-item>
              <ion-label>Diarrhée</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Vomissement</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Troubles digestifs</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>fatigue générale</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Soif intense</ion-label>
            </ion-item>
          </ion-list>
        </b>.
      </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="/assets/che.jpg"/>
        <h2>Traitements</h2>
        <p>Le traitement du choléra repose sur la réhydratation par voie orale ou intraveineuse afin de compenser les pertes digestives d’eau et d’électrolytes. Dans les cas graves, les antibiotiques en cures de 3 jours (antibiotiques tétracyclines,  Bactrim forte) sont donnés. Cependant, on retrouve de plus en plus de souches multirésistantes aux antibiotiques, d'où l'importance de la réhydratation et surtout de la prévention.

          Selon l’OMS, avec une prise en charge rapide et adaptée, le taux de létalité devrait se maintenir en dessous de 1%. Elle préconise le zinc en traitement d’appoint chez l’enfant de moins de 5 ans pour réduire la durée d'une diarrhée. </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="/assets/index.jpeg"/>
        <h2>Prévention</h2>
        <p>
          Quelques précautions élémentaires sont souvent suffisantes :
          <ion-text color="primary">
            <h3>
              
    Boire uniquement de l'eau bouillie ou de l'eau en bouteille ;
    Éviter de manger des fruits de mer, légumes et fruits crus (sauf les fruits qui peuvent être pelés) car la cuisson détruit le bacille ;
    Les aliments congelés contaminés sont dangereux s'ils sont consommés crus ;
    Les aliments séchés, en boîtes ou irradiés dans de bonnes conditions sont inoffensifs.

            </h3>
            <h3>Il existe un vaccin pour prévenir le choléra, mais son efficacité n'est pas totale et elle est limitée dans le temps. </h3>
          </ion-text>
        </p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
