<ion-content class="card-background-page">

  <ion-card (click)='gopage("postmesure")'>
    <img src="/assets/santé et soins.jpg"/>
    <div style="color: green;" class="card-title">Dianostique</div>
    <div style="color: black;" class="card-subtitle">enregister vos systomes</div>
  </ion-card>

  <ion-card (click)='gopage("mesure")'>
    <img src="/assets/take.jpg"/>
    <div style="color: green;" class="card-title">Liste des mesures</div>
    <div style="color: black;" class="card-subtitle">vos mesures</div>
  </ion-card>

  <ion-card (click)='gopage("listmedecin")'>
    <img src="/assets/souriant-medecin-noir-papiers_23-2147767270.jpg"/>
    <div style="color: green;"  class="card-title">Medecins</div>
    <div style="color: black;"  class="card-subtitle">Voir les medecins</div>
  </ion-card>

  <ion-card (click)='gopage("conseil")'>
    <img src="/assets/téléchargement.jpeg"/>
    <div style="color: green;"  class="card-title">Consiels</div>
    <div style="color: black;"  class="card-subtitle">Tout savoir</div>
  </ion-card>

  <ion-card (click)='gopage("mappage")'>
    <img src="/assets/téléchargement (1).jpeg"/>
    <div style="color: green;"  class="card-title">Map</div>
    <div style="color: black;"  class="card-subtitle">Evolution de la contamination</div>
  </ion-card>

  <ion-card (click)='gopage("camera")' >
    <img src="/assets/How-to-Use-AI-Camera-Features-on-Any-Android-Phone-1_f1418c237f0e224b16e0984ddd38d985_935adec67b324b146ff212ec4c69054f.jpg"/>
    <div style="color: green;"  class="card-title">C photo</div>
    <div style="color: black;"  class="card-subtitle">Consultation photo</div>
  </ion-card>

  <ion-card (click)='sendsmssos("+237655667191")'>
    <img src="/assets/splash_red_400x400.png"/>
    <div style="color: green;"  class="card-title">Sos</div>
    <div style="color: black;"  class="card-subtitle">Sms  d'urgence</div>
  </ion-card>

  <ion-card (click)='gopage("mappage")'>
    <img src="/assets/images (1).png"/>
    <div style="color: green;"  class="card-title">Mon profil</div>
    <div style="color: black;"  class="card-subtitle">mon profil</div>
  </ion-card>
</ion-content>